In [2]:
import pandas as pd

In [3]:
diction={1:"Hello",2:"Good Morning",3:"Good Afternoon",4:"Good Night"} # docu : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_dict.html
df= pd.DataFrame.from_dict(diction, orient='index',columns=["greetings"])
df

        greetings
1           Hello
2    Good Morning
3  Good Afternoon
4      Good Night

In [5]:
sr=pd.Series(["Samir","Mounir","Freddy"], name="Names") #docu : https://pandas.pydata.org/docs/reference/api/pandas.Series.to_frame.html
sr

0     Samir
1    Mounir
2    Freddy
Name: Names, dtype: object

In [6]:
df = pd.DataFrame({
    "Name": ["Samir","Ronda"],
    "Age": [23,24],
    "Major": ["Physics","English"]})
df          #Docu https://pandas.pydata.org/docs/user_guide/style.html [with help from https://www.w3schools.com/python/pandas/pandas_dataframes.asp]

    Name  Age    Major
0  Samir   23  Physics
1  Ronda   24  English